<!-- <login (localStorageChange)='myValueChange($event)' ></login> -->
<!-- <app-hero [userLoggedIn]='loggedIn'></app-hero> -->
<!-- <dashboard></dashboard> -->
<a routerLink='welcome'>Home</a>
<a routerLink='heroes'>Heroes</a>
<a *ngIf='currentUser' routerLink='dashboard'>Dashboard</a>
<a *ngIf='currentUser' routerLink='account'>My Account</a>
<a *ngIf='!currentUser' routerLink='login'>Login</a>
<span *ngIf='currentUser'>Logged in as {{currentUser.email}} <button class = 'btn btn-info btn-sm' (click) = 'logout();'>Log Out</button></span>
<router-outlet></router-outlet>
