<h2>My Heroes</h2>
<hero-search></hero-search>
<br>
<div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="addHero(heroName.value); heroName.value=''">Add</button>
</div>

<ul class="heroes">
  <li *ngFor='let hero of heroes' (click)='selectHero(hero)' [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
    <button class="delete"
      (click)="deleteHero(hero); $event.stopPropagation()">x</button>
  </li>
</ul>
<!--
<hero-detail *ngIf='selectedHero' [hero]='selectedHero'>

</hero-detail> -->

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="goToDetail()">View Details</button>
</div>
